@{
    var ListPayments = ViewBag.ListPayments;
    var SumPercent = ViewBag.SumPercent;
    ViewData["Title"] = "CalculatePerDay";
}
<div class="text-center">
    <h1 class="display-4 text-uppercase m-4">аннуитетный займ рассчитан</h1>

    <div class="card mb-4 p-2" style="min-width:450px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Дата платежа</th>
                    <th scope="col">Сумма платежа</th>
                    <th scope="col">Основной долг</th>
                    <th scope="col">Проценты</th>
                    <th scope="col">Остаток долга</th>
                </tr>
            </thead>
            <tbody>
                @if (ListPayments != null)
                {
                    @foreach (var loan in ListPayments)
                    {
                        <tr>
                            <th scope="row">@loan.PaymentNumber</th>
                            <td>@loan.PaymentDate.ToString("D")</td>
                            <td>@loan.BodyPaymentAmount</td>
                            <td>@loan.MainDebt</td>
                            <td>@loan.PaymentAmountForPercent</td>
                            <td>@loan.RemainingPrincipal</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        Итого переплат - @SumPercent
    </div>

    <div>
        @Html.ActionLink("Назад", "Dop", "Home", null)
    </div>
</div>